@model HomeViewModel

@{
    var message = TempData["Message"] as string;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>

        .title {
            color: #9F2B68;
        }

        .subtitle {
            color: #666;
        }
    </style>

</head>
<body>
    <div class="container mt-5">
        <h1 class="title">Welcome to Irena's Bookstore!</h1>
        <p class="subtitle">Here, you can browse books, view your cart, and check your balance.</p>
        <div class="mt-6"> 
            <h3 class="title">Current Account Balance:</h3> <p class="subtitle"> $@Model.AccountBalance</p>
            <h3 class="title">Total Number of Books:</h3> <p class="subtitle"> @Model.BookCount</p>
        </div> 
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info">
                @message
            </div>
        }
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
